<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Neue Frage hinzufügen</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/style.css" />

</head>

<body>
<div>
    <h1>Neue Frage hinzufügen</h1>
    <p>Welche Art von Frage möchten Sie dem Quiz hinzufügen?</p>
</div>
<div id="TextFrage">
    <label>Frage mit Textantwort</label>
    <input type="checkbox" id="textantwort" name="textantwort"
           value="textantwort" onclick="parent.location ='http://localhost:3000/addQuestion1'"/></div>

<div id="Multiplechoice">
    <label>Multiplechoice-Frage</label>
    <input type="checkbox" id="multiplechoice" name="multiplechoice"
           value="multiplechoice" onclick="parent.location='http://localhost:3000/addQuestion2'"></div>
<div>
