<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Neue Frage hinzuf端gen</title>
</head>
<body>
<div>
    <h1>Neue Frage hinzuf端gen</h1>
    <p>Im unteren Feld kannst du eine neue Frage dem Quiz hinzuf端gen.</p>
</div>
<div>
    <input type="text"</input>
    <button type='submit' id='addQuestion'>Hinzuf端gen</button>
</div>
</body>
</html>