<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Neue Multiplechoicefrage hinzufügen</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/style.css" />

</head>
<body>
<h1>Multiplechoice-Frage anlegen</h1>
<p>Setze hinter die richtige Antwortmöglichkeit ein Häkchen in den Checkbox. </p>
<div>
    <label>Frage</label>
    <input type='text' id='questionInput'>
</div>
<div>
        <label>Antwort A</label>
        <input type='text' id='antwortInputA'> <input type="checkbox" id="true1" onclick="trueAnswer()">
</div>
<div><label>Antwort B</label>
    <input type='text' id='antwortInputB'><input type="checkbox" id="true2" onclick="trueAnswer()"> </div>

<div><label>Antwort C</label>
<input type='text' id='antwortInputC'> <input type="checkbox" id="true3" onclick="trueAnswer()"></div>

<div><label>Antwort D</label>
    <input type='text' id='antwortInputD'> <input type="checkbox" id="true4" onclick="trueAnswer()"></div>

    <select id="thema">
        <option value="Mathe">Mathe</option>
        <option value="WBA">WBA</option>
        <option value="CGA">CGA</option>
        <option value="AP1">AP1</option>
    </select>
    <button id='addQuestion'>Hinzufügen</button>

<script>

    function trueAnswer(){

        var checkbox = document.getElementById("true1", "true2", "true3", "true4");
        if(checkbox.checked && document.getElementById("antwortInputA")){
            Boolean.prototype.antwortA = true;}
            else if(checkbox.checked && document.getElementById("antwortInputB")){
            Boolean.prototype.antwortB = true;}
            else if(checkbox.checked && document.getElementById("antwortInputC")){
            Boolean.prototype.antwortC =true;}
            else if(checkbox.checked && document.getElementById("antwortInputD")){
            Boolean.prototype.antwortD = true;
            }
    }

    document.getElementById("addQuestion").onclick = function () {
        postQuestion();
    }

    function postQuestion() {

        var obj = {};

        obj["frage"] = document.getElementById("questionInput").value;
        obj["thema"] = document.getElementById("thema").value;
        obj["level"] = "12";
        obj["author"] = "ich";
        obj["antwortA"] = document.getElementById("antwortInputA").value;
        obj["antwortB"] = document.getElementById("antwortInputB").value;
        obj["antwortC"] = document.getElementById("antwortInputC").value;
        obj["antwortD"] = document.getElementById("antwortInputD").value;
        obj["boolean"] = document.getElementById("true1","true2","true3","true4").value;

        obj = JSON.stringify(obj);

        console.log(obj);



        var settings = {
            "async": false,
            "crossDomain": true,
            "url": "http://127.0.0.1:3000/addQuestion2",
            "method": "POST",
            "headers": {
                "Content-Type": "application/json",
                "Cache-Control": "no-cache"
            },
            "data": obj
        }

        $.ajax(settings).done(function (response) {
            console.log(response);
        });
    }

</script>
</body>
</html>