<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Neuen Test anlegen oder aus bestehenden Tests auswählen</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/style.css" />

</head>
<body>
<h1>Einen neuen Test anlegen oder nach einem bestehenden Test suchen</h1>
<div id="choiceTest"></div>
<select id="thema">
    <option value="Mathe">Mathe</option>
    <option value="WBA">WBA</option>
    <option value="CGA">CGA</option>
    <option value="AP1">AP1</option>
</select>
<div class="button">
    <input type="submit" value="Test starten" id="choicesTest1" class="btn">
</div>
<script>

    document.getElementById("choicesTest1").onclick = function () {
        startTest();
    }

    function startTest() {

        var obj = {};
        obj["thema"] = document.getElementById("thema").value;
        obj = JSON.stringify(obj);

        console.log(obj);

        var settings = {
            "async": false,
            "crossDomain": true,
            "url": "http://127.0.0.1:3000/getQuestions",
            "method": "POST",
            "Content-Type": "application/json",
            "headers": {
                "Content-Type": "application/json",
                "Cache-Control": "no-cache"
            },
            "data": obj
        }

        $.ajax(settings).done(function (result) {
            console.log("I am done with this shit")
            console.log(result);
        })
            .fail(function(xhr, textStatus, error) {
                console.log("Fail");
                console.log(xhr.statusText);
                console.log(textStatus);
                console.log(error);
            });
    }

</script>

</body>
