<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Neuen Test anlegen oder aus bestehenden Tests auswählen</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/style.css" />

</head>
<body>
<h1>Einen neuen Test anlegen oder nach einem bestehenden Test suchen</h1>
<p> Bitte wähle aus, ob du einen neuen Test anlegen oder nach einem bereits bestehenden Test suchen möchtest. </p>
<div id="choiceTest"></div>
<div class="button">
    <INPUT type="button" value="Test anlegen" id="choicesTest1" onClick="parent.location='http://localhost:3000/addTest'"></FORM>
    <INPUT type="button" value="Test suchen" id="choicesTest2" onClick="parent.location='http://localhost:3000/'"></FORM>
</div>
</body>
