<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <!-- CSS Datei einbinden -->
    <link href="./css/Login_style.css" rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>

<body>
<div class="container">
    <div class="main">
        <h2>Logge dich ein!</h2>
        <form id="form_id" method="post" name="myform">
            <label>User Name :</label>
            <input type="text" id="userInput" name="username" id="username"/>
            <label>Password :</label>
            <input type="password" id="passInput" name="password" id="password"/>
            <input type="button" value="Login" id="submit" onclick="validate()"/>
        </form>
        <span><b class="note">Note : </b>For this test use following username and password. <br/><b class="valid">User Name : Formget<br/>Password : formget#123</b></span>
    </div>
</div>
<script scr="LogIn.js"></script>
<script>

    document.getElementById("submit").onclick = function () {
        login();
    }

    function login() {


        var settings = {
            "async": false,
            "crossDomain": true,
            "url": "http://127.0.0.1:3000/auth",
            "method": "GET",
            "headers": {
                "Content-Type": "application/json",
                "Cache-Control": "no-cache",
                "Authorization": "Basic " + btoa(document.getElementById("userInput").value + ":" + document.getElementById("passInput").value)
            }
        }

        $.ajax(settings).done(function (result) {
            console.log("logged in");
            console.log(result.status);

            if (result.status === 200){
                parent.location='http://localhost:3000/choiceTest'
            }
        })
            .fail(function(xhr, textStatus, error) {
                console.log("Fail");
                console.log(xhr.statusText);
                console.log(textStatus);
                console.log(error);
            });
    }


</script>
</body>
</html>